* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Inicio de estilo index */
header {
    background-color: +rgb(36, 75, 100);
    padding: 20px;
    text-align: center;
    width: 100%;
    display: inline-block;
}
header img {
    width: 145px;
    height: 145px;
}
.header__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(38, 113, 184);
}
header ul li {
    list-style: none;
    display: inline;
    font-family: 'Rubik', monospace;
    padding: 15px 15px 15px 15px;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    font-family: "Rubik", sans-serif ;
}
a:hover {
    background-color: aquamarine;
    color: white;
    padding: 10px;
}
.lista__navegacion--flex {
    display: flex;
    gap: 1.5rem;
}
/* Fin de estilo index */
/*Inicio banner*/
.Banner {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    width: 100%;
    height: 100%;
    gap: .5rem;
    background-color: darkcyan;
}

.divs__banner {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 200px;
}

.img_banner {
    padding: 15px;
    border: 10px;
}

.texto_banner {
    border: 3px solid black;
    height: 300px;
    width: 500px;
}

/*Fin de banner*/
/*Inicio Seccion Top 6*/
.clasif h2 {
    padding-left: 15px;
    padding-bottom: 10px;
    font-family: "Rubik", sans-serif;
}
.clasif .conten_cards{ 
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
    padding-left: 50px;
}

.clasif .conten_cards div {
    width: 700px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: #5CC8F2;
}
.clasif .conten_cards img {
    display: flex;
    flex-direction: row;
}
.clasif .conten_cards div h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
}
.clasif .conten_cards div a {
    text-decoration: none;
    color: black;
    background-color: #DFE8F1;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.clasif .conten_cards p {
    display: flex;
    flex-direction: column;
}
.clasif .conten_cards p .nombre_cardtop {
    display: flex;
    flex-direction: column;
}
.clasif .conten_cards p .descripcion_cardtop {
    display: flex;
    flex-direction: column;
}

/*Fin Seccion Top 6*/
/*Inicio Footer fijo*/
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    background-color: black;
    color: white;
    height: 25px;
}
.contenido__inicio {
    flex-grow: 1;
}
/*Fin footer fijo*/


/* Inicio estilo de Registro */
.Form-inicio {
    background-color: rgb(49, 100, 134);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}

.Form-registro {
    background-color: yellow;
    width: 300px;
    padding: 20px;
    margin-left: 60px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    border-color: forestgreen;
}