@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik:wght@300&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables para fuentes */
/* Media queries */
/* Variables para categorias */
/* Media queries para columnas */
/* Background */
img {
  max-width: 100%;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0b6bbf;
  height: 250px;
}

.header img {
  width: 180px;
  height: 180px;
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
  }
}
.header .menu {
  grid-area: nav;
}

.header .menu li {
  list-style: none;
  display: inline;
  font-family: "Rubik", monospace;
  padding: 15px 15px 15px 15px;
}

.header .menu a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 20px;
  font-family: "Rubik", sans-serif;
}

.header .menu a:hover {
  background-color: #5cc8f2;
  color: white;
  padding: 10px;
}

@media screen and (max-width: 399px) {
  .header .menu {
    flex-direction: row;
    align-items: flex-end;
  }
}
body {
  background: rgb(11, 107, 191);
  background: linear-gradient(90deg, rgb(11, 107, 191) 0%, rgb(223, 232, 241) 49%, rgb(56, 171, 242) 100%);
}

.grid-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header header header header" "banner banner banner banner" "clasif clasif clasif clasif" "footer footer footer footer";
}
@media screen and (max-width: 645px) {
  .grid-container .grid-container {
    flex-direction: column;
    width: auto;
  }
}

/*Header y nav final*/
/*Banner inicio*/
.Banner {
  grid-area: banner;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  background-color: transparent;
}

.img_banner {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 15px;
  border: 10px;
}

@media screen and (max-width: 892px) {
  .img_banner {
    flex-direction: column;
    width: auto;
  }
}
.texto_banner {
  border: 3px;
  height: 300px;
  width: 500px;
  font-family: "Roboto";
  font-size: 22px;
}

/*Banner final*/
/*Clasificaciones top 6*/
.clasif {
  grid-area: clasif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas: "top top" "cards textcards";
}

.top_title {
  grid-area: top;
  padding-left: 15px;
  padding-bottom: 10px;
  font-family: "Rubik", sans-serif;
}

.conten_topcar {
  grid-area: cards;
  background-color: transparent;
  width: 100%;
  height: 600px;
  margin: 0 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 892px) {
  .conten_topcar {
    flex-direction: column;
    width: auto;
  }
  .conten_topcar .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "banner" "clasif" "footer";
  }
  .clasif {
    grid-area: clasif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "top" "cards" "textcards";
  }
}
.cardtop {
  background-color: #DFE8F1;
  border: solid 1px silver;
  border-radius: 13px;
  width: 95%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: 767px) {
  .cardtop .cardtop {
    flex-direction: column;
    width: auto;
  }
}
@media screen and (max-width: 645px) {
  .cardtop .cardtop {
    display: flex;
    flex-direction: column;
    width: auto;
  }
}
.cardtop img {
  width: 150px;
  height: 75%;
  padding-left: 20px;
  max-width: 100%;
}
.cardtop h3 {
  font-family: "Rubik";
  justify-content: right;
  padding: 15px;
}
.cardtop a {
  color: black;
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  background-color: steelblue;
  font-family: "Rubik";
}
.cardtop span {
  width: 30%;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.nombre_cardtop {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: left;
  font-family: "Roboto";
  font-size: 20px;
}

.descripcion_cardtop {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.texto_concards {
  grid-area: textcards;
  width: 98%;
  height: 600px;
  padding: 10px;
  font-family: "Roboto";
  font-size: 30px;
  border: 1px;
  border-radius: 13px;
}

.banner_final {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner_final p {
  font-family: "Roboto";
  font-size: 25px;
}
.banner_final img {
  padding: 30px;
}

.Banner_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Banner_footer p {
  font-family: "Roboto";
  font-size: 25px;
  border: 10px;
  width: 45%;
  padding: 5px;
}
.Banner_footer iframe {
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 5px;
}

/* Variables para fuentes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0b6bbf;
  height: 250px;
}

.header img {
  width: 180px;
  height: 180px;
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
  }
}
.header .menu {
  grid-area: nav;
}

.header .menu li {
  list-style: none;
  display: inline;
  font-family: "Rubik", monospace;
  padding: 15px 15px 15px 15px;
}

.header .menu a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 20px;
  font-family: "Rubik", sans-serif;
}

.header .menu a:hover {
  background-color: #5cc8f2;
  color: white;
  padding: 10px;
}

@media screen and (max-width: 399px) {
  .header .menu {
    flex-direction: row;
    align-items: flex-end;
  }
}
/* Media queries */
/* Variables para categorias */
/* Media queries para columnas */
/* Background */
.opciones {
  background: linear-gradient(90deg, rgb(11, 107, 191) 0%, rgb(223, 232, 241) 49%, rgb(56, 171, 242) 100%);
}

.categ_titl {
  flex-direction: left;
  font-family: "Rubik";
}

.conten_categorias {
  width: 100%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: dense;
  gap: 18px;
}
.conten_categorias .card_cat {
  background-color: #dfe8f1;
  border: solid 1px silver;
  border-radius: 13px;
  width: 85%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.conten_categorias img {
  width: 75%;
  height: 75%;
  padding: 20px;
  max-width: 100%;
}
.conten_categorias h3 {
  font-family: "Roboto";
}
.conten_categorias a {
  background-color: steelblue;
  color: white;
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
}
.conten_categorias span {
  width: 23%;
  display: flex;
  justify-content: center;
  margin: 15px;
}
@media (max-width: 487px) {
  .conten_categorias {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 488px) and (max-width: 768px) {
  .conten_categorias {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 769px) {
  .conten_categorias {
    grid-template-columns: repeat(3, 1fr);
  }
}

.Nosotros-box {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.nosotros-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nosotros-container .nosotros-txt {
  font-family: "Roboto";
  font-size: 30px;
  padding: 20px;
  text-align: center;
}
.nosotros-container .nosimg-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.nosotros-container .imagen-ilus {
  display: inline-block;
  width: 50%;
  height: 50%;
  margin: 10px;
}

.form_contenedor {
  width: 80%;
  margin: 0 auto;
}

.contacto_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.contacto_flex h1 {
  font-family: "Rubik";
}
.contacto_flex .btn_enviar {
  border: none;
  background: rgb(0, 70, 131);
  background: linear-gradient(45deg, rgb(0, 70, 131) 0%, rgba(56, 171, 242, 0.6601015406) 57%, rgba(56, 171, 242, 0.6601015406) 99%);
}

.Registro_body {
  padding: 0;
  margin: 0;
  background: rgb(11, 107, 191);
  background: linear-gradient(90deg, rgb(11, 107, 191) 0%, rgb(223, 232, 241) 49%, rgb(56, 171, 242) 100%);
}

@media screen and (max-width: 768px) {
  .Registro_body {
    padding: 20px;
  }
  .login_container {
    grid-template-columns: auto;
  }
  .regis_container {
    grid-template-columns: auto;
  }
  .img_login {
    display: none;
  }
}
.login_container {
  min-height: calc(50vh - 80px);
  display: grid;
  grid-template-columns: 30% 30%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

@media screen and (max-width: 1350px) {
  .login_container {
    padding: 50px !important;
  }
}
@media screen and (max-width: 1350px) {
  .formulario_login {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .login_container {
    padding: 50px !important;
  }
}
@media screen and (max-width: 768px) {
  .formulario_login {
    width: 100%;
  }
}
.regis_container {
  min-height: calc(45vh - 80px);
  display: grid;
  grid-template-columns: 30% 30%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 50px;
}

@media screen and (max-width: 1350px) {
  .regis_container {
    padding: 50px !important;
  }
}
@media screen and (max-width: 1350px) {
  .formulario_regis {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .regis_container {
    padding: 50px !important;
  }
}
@media screen and (max-width: 768px) {
  .formulario_regis {
    width: 100%;
  }
}
.login_usu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  background-color: transparent;
}

.registro_new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  background-color: transparent;
}

.img_login {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.img_login img {
  width: 30%;
  height: 30%;
}

.titulo_login {
  width: 450px;
  padding-bottom: 20px;
}
.titulo_login h1 {
  font-family: "Rubik";
}
.titulo_login p {
  font-family: "Roboto";
}

.titulo_registro {
  width: 450px;
  padding-bottom: 20px;
}
.titulo_registro h1 {
  font-family: "Rubik";
}
.titulo_registro p {
  font-family: "Roboto";
}

.contenido_login {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login_btn {
  padding: 10px;
  gap: 50px;
}
.login_btn a:hover {
  background-color: #38abf2;
}

.contenido_regis {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form_item label:not(.Recordarmecheck) {
  display: inline-block;
  background-color: #dfe8f1;
  margin-bottom: 10px;
  position: absolute;
  padding: 10 10px;
  transform: translate(30px, -10px);
  font-size: 12px;
}

.form_item2 label:not(radio) {
  display: inline-block;
  background-color: #dfe8f1;
  margin-bottom: 10px;
  position: absolute;
  padding: 10 10px;
  transform: translate(30px, -10px);
  font-size: 12px;
}

input {
  border: 1px solid black;
  height: 30px;
  padding: 0 2rem;
  width: 100%;
  outline: none;
  transition: background 0.5s;
  font-size: 15px;
  border-radius: 100px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.7px;
}

input [type=checkbox] {
  width: 20px;
  height: 20px;
}

.inic_ses {
  border: none;
  background: rgb(0, 70, 131);
  background: linear-gradient(45deg, rgb(0, 70, 131) 0%, rgba(56, 171, 242, 0.6601015406) 57%, rgba(56, 171, 242, 0.6601015406) 99%);
  color: white;
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
  font-size: 15px;
  height: 25px;
  cursor: pointer;
}

.wrapper {
  grid-area: footer;
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
}

.contenido__inicio {
  flex-grow: 20;
  text-align: center;
  justify-content: center;
  font-family: "Rubik";
}

.Banner_footer {
  justify-items: center;
  text-align: center;
}

footer {
  background-color: #0b6bbf;
  color: white;
  height: 25px;
  font-family: "Rubik";
}

/*# sourceMappingURL=Style.css.map */
