@use "reset";
@use "navbar";
@use "variables";

.opciones {
    background: linear-gradient(45deg, #131086, #b621f3);
}

.categ_titl {
    flex-direction: left;
    font-family: $titulos;
}

@mixin card_cats {
    background-color: white;
    border: solid 1px silver;
    border-radius: 13px;
    width: 85%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.conten_categorias {
    width: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "card card card"
    "card card card"
    "footer footer footer";

.card_cat {
    @include card_cats();
    }

    img {
    width: 75%;
    height: 75%;
    padding: 20px;
    max-width: 100%;
    }

    h3 {
        font-family: $textos;
    }

    a {
    background-color: steelblue;
    color: white;
    text-decoration: none;
    padding: 5px 5px 5px 5px ;
    border-radius: 5px;
    }

    span {
    width: 23%;
    display: flex;
    justify-content: center;
    margin: 15px;
    }
}