.wrapper {
    grid-area: footer;
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
}

.contenido__inicio {
    flex-grow: 20;
    text-align: center;
    justify-content: center;
    font-family: "Rubik";
}

.Banner_footer {
    justify-items: center;
    text-align: center;
}

footer {
    background-color: #0b6bbf;
    color: white;
    height: 25px;
    font-family: $titulos;
}
