.wrapper {
    background-color: #dfe8f1;
    grid-area: footer;
    margin: 0 10px 0 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenido__inicio {
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    font-family: "Roboto";
}

.Banner_footer {
    justify-items: center;
    text-align: center;
}

footer {
    background-color: #0b6bbf;
    color: white;
    height: 25px;
}
