@use "navbar";

body {
    background: $background-color;
    background: $background-gradiente;
}

.grid-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "header header header header"
    "banner banner banner banner"
    "clasif clasif clasif clasif"
    "footer footer footer footer";

    @media screen and (max-width: 645px) {
        .grid-container {
            flex-direction: column;
            width: auto;
        }
    }
}

/*Header y nav final*/
/*Banner inicio*/
.Banner {
    grid-area: banner;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    width: 100%;
    height: 100%;
    gap: .5rem;
    background-color: transparent;
}

.img_banner {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 15px;
    border: 10px;
}

@media screen and (max-width: 892px) {
    .img_banner {
        flex-direction: column;
        width: auto;
    }
}

.texto_banner {
    border: 3px;
    height: 300px;
    width: 500px;
    font-family: $textos;
    font-size: 22px;
}
/*Banner final*/
/*Clasificaciones top 6*/
.clasif {
    grid-area: clasif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "top top"
    "cards textcards";
}

.top_title {
    grid-area: top;
    padding-left: 15px;
    padding-bottom: 10px;
    font-family: "Rubik", sans-serif;
}

.conten_topcar {
    grid-area: cards;
    background-color: transparent;
    width: 100%;
    height: 600px;
    margin: 0 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
}
@media screen and (max-width: 892px) {
    .conten_topcar {
        flex-direction: column;
        width: auto;
    }
    
    .clasif {
        grid-area: clasif;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "top"
        "cards" 
        "textcards";
        }
    
}

.cardtop {
    background-color: #DFE8F1;
    border: solid 1px silver;
    border-radius: 13px;
    width: 95%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

@media screen and (max-width: 767px) {
    .cardtop {
        flex-direction: column;
        width: auto;
    }
}

@media screen and (max-width: 645px) {
    .cardtop {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .conten_topcar {
        flex-direction: column;
    }  
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "banner"
        "clasif"
        "footer";
    }
}

    img {
    width: 150px;
    height: 75%;
    padding-left: 20px;
    max-width: 100%;
    }

    h3 {
    font-family: "Rubik";
    justify-content: right;
    padding: 15px;
    }

    a {
    color: black;
    text-decoration: none;
    padding: 5px 5px 5px 5px ;
    border-radius: 5px;
    background-color: steelblue;
    font-family: $titulos;
    }

    span {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 20px;
    }
}

.nombre_cardtop {
    display: flex;
    flex-direction:row;
    text-align: center;
    justify-content: left;
    font-family: $textos;
    font-size: 20px;
}
.descripcion_cardtop {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.texto_concards {
    grid-area: textcards;
    width: 98%;
    height: 600px;
    padding: 10px;
    font-family: "Roboto";
    font-size: 30px;
    border: 1px;
    border-radius: 13px;
}

.banner_final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        font-family: $textos;
        font-size: 25px;
    }

    img {
        padding: 30px;
    }
}

.Banner_footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
        font-family: $textos;
        font-size: 25px;
        border: 10px;
        width: 45%;
        padding: 5px;
    }

    iframe {
        align-items: center;
        justify-content: center;
        width: 50%;
        padding: 5px;
    }
}
