img {
    max-width: 100%;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0b6bbf;
    height: 250px;

    img {
        width: 180px;
    height: 180px;
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }

    .menu {
    grid-area: nav;
        
    li {
        list-style: none;
        display: inline;
        font-family: 'Rubik', monospace;
        padding: 15px 15px 15px 15px;
    }

    a {
        text-decoration: none;
        font-size: 20px;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 20px;
        font-family: "Rubik", sans-serif ;
    }

    a:hover {
        background-color: #5cc8f2;
        color: white;
        padding: 10px;
    }
}

    @media screen and (max-width: 399px) {
        .menu {
            flex-direction: row;
            align-items: flex-end;
        }
    }
}
