.Registro_body {
    padding: 0;
    margin: 0;
    background: rgb(0,70,131);
    background: linear-gradient(45deg, rgba(0,70,131,1) 34%, rgba(56,171,242,1) 67%);
}

@media screen and (max-width: 768px) {
    .Registro_body {
        padding: 20px;
    }
    .login_container {
        grid-template-columns: auto;
    }
    .regis_container {
        grid-template-columns: auto;
    }
    .img_login {
        display: none;
    }
}

.login_container {
    min-height: calc(50vh - 40px * 2);
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
}

@media screen and (max-width: 1350px) {
    .login_container {
        padding: 50px !important;
    }
}
@media screen and (max-width: 1350px) {
    .formulario_login {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .login_container {
        padding: 50px !important;
    }
}
@media screen and (max-width: 768px) {
    .formulario_login {
        width: 100%;
    }
}

.regis_container {
    min-height: calc(45vh - 40px * 2);
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
}

@media screen and (max-width: 1350px) {
    .regis_container {
        padding: 50px !important;
    }
}
@media screen and (max-width: 1350px) {
    .formulario_regis {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .regis_container {
        padding: 50px !important;
    }
}
@media screen and (max-width: 768px) {
    .formulario_regis {
        width: 100%;
    }
}

.login_usu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    background-color: transparent;
}
.registro_new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    background-color: transparent;
}
.img_login {
    background-color: transparent;
    display: flex;
    justify-content: center;
}
.img_login img {
    width: 30%;
    height: 30%;
}

.titulo_login {
    width: 450px;
    padding-bottom: 20px;
}
.titulo_login h1 {
    font-family: "Rubik";
}
.titulo_login p {
    font-family: "Roboto";
}

.titulo_registro {
    width: 450px;
    padding-bottom: 20px;
}
.titulo_registro h1 {
    font-family: "Rubik";
}
.titulo_registro p {
    font-family: "Roboto";
}

.contenido_login {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login_btn {
    padding: 10px;
    gap: 50px;
}
.contenido_regis {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.login_btn a:hover {
    background-color: #38abf2;
}

.form_item label:not(.Recordarmecheck) {
    display: inline-block;
    background-color: #dfe8f1;
    margin-bottom: 10px;
    position: absolute;
    padding: 10 10px;
    transform: translate(30px, -10px);
    font-size: 12px;
}
.form_item2 label:not(radio) {
    display: inline-block;
    background-color: #dfe8f1;
    margin-bottom: 10px;
    position: absolute;
    padding: 10 10px;
    transform: translate(30px, -10px);
    font-size: 12px;
}

input {
    border: 1px solid black;
    height: 30px;
    padding: 0 2rem;
    width: 100%;
    outline: none;
    transition: background .5s;
    font-size: 15px;
    border-radius: 100px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: .7px;
}
input [type= "checkbox"] {
    width: 20px;
    height: 20px;
}

.inic_ses {
    border: none;
    background: rgb(0,70,131);
    background: linear-gradient(45deg, rgba(0,70,131,1) 0%, rgba(56,171,242,0.6601015406162465) 57%, rgba(56,171,242,0.6601015406162465) 99%);
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    font-size: 15px;
    height: 25px;
    cursor: pointer;
}
