/* Variables para fuentes */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik:wght@300&display=swap);

$titulos: "Rubik";
$textos: "Roboto";

/* Media queries */
$pantalla-m: 768px;
$pantalla-l: 800px;
$pantalla-xg: 1200px;

/* Variables para categorias */
$card-width: 200px;
$gutter-width: 20px;

/* Media queries para columnas */
$s-column: 1fr;
$m-column: 1fr 1fr;
$l-column: repeat(3, 1fr);

/* Background */
$background-color: rgb(11,107,191);
$background-gradiente: linear-gradient(90deg, rgba(11,107,191,1) 0%, rgba(223,232,241,1) 49%, rgba(56,171,242,1) 100%);